<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayecoDisneyDev2.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B1F75502C281CE99EBDB68571200FB0A3C080672</string>
				<key>dateExpires</key>
				<string>18/2/2020</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>87E4RSJL98.com.payEco.www.PayecoDisneyDev2</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VX8T69FLM2</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>87E4RSJL98.com.payEco.www.PayecoDisneyDev2</string>
				</array>
			</dict>
			<key>name</key>
			<string>PayecoDisneyDev2.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c7df5a76-a7ee-497f-b4d7-ac31ce2e5e48</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VX8T69FLM2</string>
				<key>name</key>
				<string>Ken Ng</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
